*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 150px;
}

header img{
    width: 12rem;
}

footer {
    height: 50px;
    text-align: center;
    font-size: 30px;
}

h1{
    font-size: 30px;
    font-family: roboto;
}

h3{
    font-family: sans-serif;
}

h5{
    color: grey;
    font-family: open;
}

h4{
    color: gray;
    padding: 5px;
}

h6{
    font-family: cursive;
}

p{
    color: lightgray;
    padding: 5px;
}


div#vertical-line{
    width: 1px;
    height: 80px;
    background-color: gray;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top; 
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-container {
    max-width: 40%;
    margin: 40px auto;
}

.jumbotron {
    height: 700px;
    position: relative;
    background-image: url('../img/banner.jpg');
    border-radius: 20px;
    background-size: cover;
}

div.jumbo-text{
    position: absolute;
    bottom: 100px;
    left: 40px;
    width: 50%;
    color: white;
    font-size: 25px;
}

.layover{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: #0000003b;
    border-radius: 20px;
}


.container2 {
    margin-bottom: 10px;
    position: relative;
}

.lightblue {
    float: left;
}

aside.lightblue, div.central{
    height: 500px;
}


.container2 .header {
    height: 100px;
    width: 100%;
    
}

.container2 aside {
    width: calc(25%);
}

.container2 .central {
    width: calc(50% - 24px);
    
}

div.central, aside.margin-right10{
    margin-right: 10px;
}

header,div.margin-bot25{
    margin-bottom: 25px;
}

li{
    display: inline;
    padding: 5px;
    color: grey;
    font-weight: bolder;
    vertical-align: sub;
}

li:hover{
    background-color: rgba(130, 130, 209, 0.486);
    border-radius: 10px;
    cursor: pointer;
}

ul{
    margin-top: 20px;
    height: 40px;
}
.header-first-section{
    margin-bottom: 10px;
}

aside img{
    border-radius: 10px;
    height: 200px;
    object-fit: contain;
}

div.central img{
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.heart{
    color: red;
}

aside img, div.central img{
    width: 100%;
}

.gray-bg1{
    width: 330px;
    background-color: #0000003b;
}

.gray-bg2{
    width: 650px;
    background-color: #0000003b;
}

.gray-bg3{
    width: 340px;
    background-color: #0000003b;
}

.gray-bg1, .gray-bg2, .gray-bg3{
    position: absolute;
    height: 200px;
    border-radius: 10px;
}